@font-face {
    font-family: 'minecraftiaregular';
    src: url('./fonts/minecraftia-webfont.eot');
    src: url('./fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/minecraftia-webfont.woff') format('woff'),
         url('./fonts/minecraftia-webfont.ttf') format('truetype'),
         url('./fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
			margin:0;
			height:100%;
			width: 100%;
		}

.headContainer {
	margin: auto;
	width: 800px;
}

header {
	        background: transparent;
	        width: 100%;  
	    }

		.header {
			z-index: 1;
			margin: 0px;
   		    font-family: 'minecraftiaregular';
   		    display: inline-block;
            vertical-align: middle;
            padding-left: 20px;
            font-size: xx-large;
            background: transparent;
		}
		
		.nav {
			display: inline-block;
            vertical-align: middle;
            float: right;
            padding-top: 20px
		}


		.twitter {
			width: 50px;
  			display: inline-block;
  		    vertical-align: middle;
  		    margin-top: 8px;
		}

		.email {
  			display: inline-block;
  			margin-top: 9px;
  		    vertical-align: middle;
  			padding-left: 11px;
			width: 50px;
		}

		.github {
  			display: inline-block;
  			margin-top: 9px;
  		    vertical-align: middle;
  			padding-left: 10px;
  			width: 57.5px;

		}

		.rob {
  			height: 80px;
  			margin-right: 10px;
  			padding-left: 0px;
  			padding-top: 10px;
  			padding-bottom: 20px;
  			vertical-align: middle;
		}

		.bgContainer {
			background: rgb(240,249,255);
			background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
			height: 100%;
			position: relative;

		}
		
		.clouds_one {
			background:url("cloudalpha.png");
			background-repeat:no-repeat;
			position:absolute;
			left:45%;
			top:65%;
			height:100%;
			width:100%;
			-webkit-animation:cloud_one 85s linear infinite;
			-moz-animation:cloud_one 85s linear infinite;
			-o-animation:cloud_one 85s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_two {
			background:url("cloudalpha.png");
			background-repeat:no-repeat;
			position:absolute;
			left:0%;
			top:30%;
			height:100%;
			width:100%;
			-webkit-animation:cloud_two 55s linear infinite;
			-moz-animation:cloud_two 55s linear infinite;
			-o-animation:cloud_two 55s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_three {
			background:url("cloudalpha.png");
			background-repeat:no-repeat;
			position:absolute;
			left:20%;
			top:1%;
			height:100%;
			width:100%;
			-webkit-animation:cloud_three 25s linear infinite;
			-moz-animation:cloud_three 25s linear infinite;
			-o-animation:cloud_three 25s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_four {
			background:url("cloudalpha.png");
			background-repeat:no-repeat;
			position:absolute;
			left:65%;
			top: 45%;
			height:100%;
			width:100%;
			-webkit-animation:clouds_four 75s linear infinite;
			-moz-animation:clouds_four 75s linear infinite;
			-o-animation:clouds_four 75s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		@-webkit-keyframes cloud_one {
			0% {
				left:80%
			}
		
			100% {
				left:-100%
			}
		}
		
		@-webkit-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-150%
			}
		}
		
		@-webkit-keyframes cloud_three {
			0% {
				left:50%
			}
		
			100% {
				left:-100%
			}
		}
		
		@-webkit-keyframes clouds_four {
			0% {
				left:50%
			}
		
			100% {
				left:-150%
			}
		}
		
		@-moz-keyframes cloud_one {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_three {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}

		@-moz-keyframes cloud_four {
			00% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}